@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 271D2C */
/* before color  543992*/

:root {
  --main-color: #271d2c;
}

body {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "width" 100;
  font-optical-sizing: auto;
  text-decoration: none;
}

.navbar {
  padding: 5px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 80%;
  margin: auto;
}

.logo {
  font-size: 1.5rem;
}

.logo h1 {
  font-size: 1.4rem;
  margin-top: 1.4rem;
  text-decoration: none;
}

.logo h1:hover {
  text-decoration: double;
}

nav ul li {
  display: inline-block;
  margin: 0rem 1rem;
  cursor: pointer;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  padding-top: 2rem;
  cursor: pointer;
  color: black;
}

.navka ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  cursor: pointer;
}

.userProfile {
  position: relative;
  left: 0rem;
}

.userInfo {
  position: absolute;
  top: 4.5rem;
  right: 0rem;
  z-index: 9999;
  padding: 1rem;
  text-align: right;
  border-radius: 5px;
  width: 35%;
  background-color: black;
  color: white;
}

.userInfo ul {
  list-style: none;
  list-style-type: none;
}

.infoSign {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

.infoSign p {
  background-color: #104579;
  border-radius: 0.2rem;
  padding: 0.3rem;
  margin-bottom: 1rem;
}

.sidebarNin {
  width: 100%;
  margin: auto;
}




/* sidebar */
.member img {
  width: 10%;
  height: 6vh;
  align-self: end;
  aspect-ratio: 3/1;
  border-radius: 80%;
}

.sidebarHome {
  width: 25%;
  height: 100vh;
  position: sticky;
  top: 5%; /* Stick to the top of the container */
  padding: 2rem;
  overflow: hidden;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  color: black;
}

/* ends */

/* dashboard flex of sidebar and articles  */

.homeFlex {
  display: flex;
  justify-content: space-around;
  gap: 4rem;
}

/* ends */

/* choose start */

.choose {
}

.chooseSome {
  display: flex;
  margin-left: 6rem;
}

.chooseSome p {
  margin: 1rem 1rem;
  background-color: white;
  padding: 2px 9px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
  color: black;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.3rem;
}

/* choose end */

/* profile start */
.searchUser .iconInMobile {
  top: 40%;
  right: 10%;
}

.userStory,
.userProfileIcon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.2rem;
  font-size: 1.4rem;
  color: white;
}

.userInfo {
  text-decoration: none;
  color: white;
}

/* profile ends */

/* iphone 14 */
@media (min-width: 430px) and (max-width: 850px) {
}



.imageAndNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imageAndNav span {
}
.SecNav {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.secNavLink {
  margin: 20px 20px;
  font-size: 1.4rem;
  font-weight: 500;
}

.flex-Category-Article {
  display: block;
}

/* memebrs css */

/* write css */

.inputOfWrite {
  margin-left: 10rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.inputOfWrite input {
  width: 100%;
  padding: 0.5rem 1rem;
}

/* articlecard css */

.articleCardBox {
  margin-left: 6rem;
  margin-top: 1rem;
  cursor: pointer;
}

/* header css */

.userImg img {
  width: 35%;
}

.navAndSecHaye {
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: #ffff;
}
