* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #64a3e2;
}

body {
  font-family: "Courier New", Courier, monospace;
  font-family: cursive;
  font-style: none;
  text-decoration: none;
}

link {
  font-style: none;
  list-style: none;
  display: none;
  text-decoration: none;
}

.navbar {
  z-index: 99999999;
  background-color: white;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  display: flex;

  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.logo {
  margin-left: 2rem;
  text-decoration: none;
}

.logo h1 {
  font-size: 1.4rem;
  margin-top: 1.4rem;
  text-decoration: none;
}

.logo h1:hover {
  text-decoration: double;
}

nav ul li {
  display: inline-block;
  margin: 0rem 1rem;
  cursor: pointer;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  padding-top: 2rem;
  cursor: pointer;
  color: black;
}

.navka {
  margin-left: 18rem;
}

.navka ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  cursor: pointer;
}

.userProfile {
  position: relative;
  left: 0rem;
}

.userInfo {
  position: absolute;
  top: 4.5rem;
  right: 0rem;
  z-index: 9999;
  padding: 1rem;
  text-align: right;
  border-radius: 5px;
  width: 55%;
  background-color: black;
  color: white;
}

.userInfo ul {
  list-style: none;
  list-style-type: none;
}

.infoSign {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

.infoSign p {
  background-color: #104579;
  border-radius: 0.2rem;
  padding: 0.3rem;
  margin-bottom: 1rem;
}

.sidebarNin {
  width: 20%;
  margin: auto;
}

.icons {
}

.icons p {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 0.4rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  background-color: #104579;
  border-radius: 20px;
}

.emailIcon {
  font-size: 1.4rem;
}

.seeall {
  color: #104579;
  font-size: 1.3rem;
  margin-top: 0.4rem;
  margin-bottom: 1rem;
}

.singleMember {
  position: relative;
  display: flex;
  column-gap: 2rem;
  font-size: 1rem;
  align-items: center;
  margin: 0.4rem;
}

.userNote {
  position: absolute;
  top: -320%;
  width: 85%;
  right: -12%;
  padding: 3px;
  background-color: black;
  border-radius: 6px;
  color: white;
  box-shadow: 0 0 2px 2px rgba(255, 254, 254, 0.2);
}

/*  */

.footerSidebar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.navbar img {
  width: 12%;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.signup {
  color: white;
  margin-top: 0.31rem;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 800;
  background-color: var(--second-color);
  padding: 2px;
  border-radius: 5px;
}

.signUpContext {
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: left;
  width: 35%;
  margin: auto;
  margin-top: 10rem;
  background-color: #104579;
  padding: 1rem;
  border-radius: 10px;
}

@media (max-width: 900px) {
  .signUpContext {
    width: 65%;
    padding: 1rem;
    margin-top: 10rem;
  }
}

.github {
  padding-top: 0;
  margin-left: 1rem;
  color: black;
  font-size: 1.5rem;
}
.google {
  padding-top: 0;
  color: black;
  margin-left: 0.4rem;
  font-size: 1.5rem;
}

.signUpContext h1 {
  color: white;
}

.signUpContext input {
  display: block;
  width: 80%;
  padding: 8px 20px;
  margin: 1rem;
  border-radius: 12px;
}

.signUpContext button {
  margin-top: 0;
  margin-left: 1rem;
  padding: 8px 12px;
  border-radius: 10px;
  font-size: 1.2rem;
}

.articlehaye {
  width: 80%;
  margin: auto;
}

.article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-right: 1.2rem;
}

.article .text {
  margin-bottom: 1rem;
}

.article-container {
  width: 90%;
  margin: auto;
}

.article img {
  width: 40%;
  height: 30vh;
}

.article-container h2 {
  margin-bottom: 1.3rem;
}

.hr {
  width: 118%;
}

/* .member{
  display: flex;
} */

.member {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
}

.dot {
  /* kan hose hda ka deledo wu uso dhawan */
  margin: auto;
  align-self: center;
}

.member img {
  width: 10%;
  height: 6vh;
  align-self: end;
  aspect-ratio: 3/1;
  border-radius: 80%;
}

.sidebarHome {
  width: 55%;
  height: 100vh;
  position: sticky;
  top: 5%; /* Stick to the top of the container */
  padding: 2rem;
  overflow: hidden;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  color: black;
}

.sidebarUser {
  width: 30%;
  height: 100vh;
  position: sticky;
  right: 0;
  top: 0%; /* Stick to the top of the container */
  padding: 2rem;
  overflow: hidden;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  color: black;
}

.sidebarUser.sticky-bottom {
  position: sticky;
  bottom: 0; /* Stick to the bottom of the container */
  top: unset; /*Remove the top property */
}

.sidebarHome.sticky-bottom {
  position: sticky;
  bottom: 0; /* Stick to the bottom of the container */
  top: unset; /*Remove the top property */
}

.Discover {
}
.Discover h2 {
  font-size: 2rem;
}

.chooseDiscover {
  gap: 1rem;
  margin: 0.4rem;
  color: black;
}

.chooseCategory h4 {
  display: flex;
  justify-content: space-between;
  color: black;
}

/* .chooseCategory div {
  font-weight: 600;
  background-color: #efefef;
  padding: 0.35rem;
  border-radius: 7px;
}
 */
.seeMore {
  font-size: 1.2rem;
  color: #486b74;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.name {
  font-size: 2rem;
}

.homeFlex {
  display: flex;
  justify-content: space-around;
  gap: 5rem;
}

.singleArticle {
  width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

.singleArticle h2 {
  font-size: 3.4rem;
  margin-bottom: 1.2rem;
}

.singleArticle img {
  width: 60%;
}

.highlighter {
  /* important oen don't forget this down */
  align-self: flex-start;
  margin-top: 1.2rem;
}

footer {
  background-color: black;
  margin-top: 2rem;
}

.footerDiv {
  width: 80%;
  margin: auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.policyDiv {
  display: flex;
  justify-content: center;
}

.developeby {
  font-size: 1.5rem;
}

.policyDiv p {
  font-size: 1.4rem;
  margin: 0.4rem;
}

.iconf {
  font-size: 2rem;
  margin: 0 0.4rem;
}

/* .userInfo {
  display: none;
}
 */
.userInfoValid {
  display: block;
}

/* about */

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.4rem;
}

/* hero */

.hero {
  position: relative;
  margin-bottom: 1rem;
}

.heroText {
  position: absolute;
  top: 18%;
  left: 7%;
}

.heroText h1 {
  font-size: 6rem;
  color: var(--main-color);
}

.hero img {
  width: 100%;
  background-repeat: none;
  background-size: cover;
  align-items: center;
  background-position: center;
}

.hero span {
  font-size: 1.2rem;
  color: lightgrey;
}

.discover {
  display: block;
  margin-top: 1.2rem;
  color: lightgrey;
  font-size: 2rem;
}

/* hhero next */

.PlaceBaxar {
  width: 85%;
  margin: auto;
}

.PlaceBaxar h1 {
  font-size: 3.5rem;
  margin: auto;
}

.PlaceBaxar p {
  font-size: 1rem;
  margin-bottom: 1.7rem;
}

.write {
  position: relative;
  display: flex;
  justify-content: center;
  align-self: left;
  margin-top: 1rem;
}

.write input {
  width: 50%;
  padding: 22px;
  border: none;
  background-color: #efefef;
  outline: none;
  box-sizing: border-box;
}

.write input::placeholder {
  font-size: 1.4rem;
}

.write input::placeholder:focus {
  display: none;
}

.codeInput {
  height: auto;
  resize: horizontal;
  padding: 45px;
  font-family: "Courier New", Courier, monospace;
  white-space: pre-wrap;
  overflow: auto;
}

.singleInputGenerated .code .react-syntax-highlighter {
  margin-bottom: 10px;
}

.plus {
  position: relative;
  top: 1.1rem;
  right: 1rem;
  font-size: 1.8rem;
}

.otherIcon {
  position: absolute;
  top: 4rem;
  left: 24rem;
  font-size: 1.5rem;
}

.writeIcon {
  margin: 0 0.4rem;
  border: var(--main-color);
}

.publish {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.btnpub {
  border-radius: 7px;
  padding: 5px 10px;
  font-size: 1.2rem;
  text-align: center;
}

.previousInput {
  position: absolute;
  left: 25%;
  top: 12%;
  display: flex;
  justify-content: center;
  align-self: flex-start;
}
.displayText {
  position: absolute;
  left: 25%;
  top: 40%;
  display: flex;
  justify-content: center;
  align-self: flex-start;
}

/* choose */

.chooseHaye {
  width: 97%;
  margin: auto;
}

.chooseHaye h1 {
  text-align: left;
  margin-left: 2rem;
}

/* .userChoses {
  display: flex;
  justify-content: space-between;
} */

.Choose {
  width: 80%;
  margin: auto;
  font-family: "Courier New", Courier, monospace;
  /* cursive font */
  margin-top: 1.3rem;
}

.chooseOne {
  height: 5%;
  overflow: hidden;
  color: #63cee9;
  font-size: 1.4rem;
  display: block;
  justify-content: space-between;
  text-decoration: none;
}

.chosedOne {
  font-size: 1.3rem;
  background-color: #104579;
  color: white;
  padding: 0.5rem;
  text-decoration: none;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}

.chooseSome {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.chooseSome p {
  margin: 1rem 1rem;
  background-color: white;
  border: 1px solid black;
  padding: 14px 9px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
  color: black;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.3rem;
}

.selected {
  border: 1px solid var(--main-color);
  border-radius: 20px;
}

.articleUserHaye {
  display: flex;
}

.articleUser {
  width: 80%;
  margin: auto;
}

.seeMore {
  color: black;
  padding: 4px 6px;
  margin-top: 2rem;
}

/* userchoose and choose  COMPONENTS*/

/* write component */

.generatedInput {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.singleInputGenerated {
  margin: 5px;
  flex: 1 5%;
  max-width: 46%;
}

.codeContainer {
  overflow-y: scroll;
  max-height: 40vh;
}

.singleInputGenerated input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
}

/* write end */

/* HomeGeneratedArray */

.HomeGeneratedArray {
  display: flex;
  justify-content: flex-start;
  width: 70%;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* usechooses */

.UserChoseIcon {
  font-size: 1.4rem;
}

/* user that logged in img */

.search {
  display: none;
}

.navka {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchUser {
  display: block;
}

.userDisplayInputDesktop {
  padding: 2px;
}

.userImg {
  width: 100%;
  height: 6vh;
}

.save {
  font-size: 2rem;
}
/* end */

/* readlist */
.readList {
  position: absolute;
  top: 5%;
  left: 0%;
  display: flex;
  flex-direction: column;
}

.readList h1 {
  margin-top: 3rem;
  margin-left: 1.3rem;
}
/* end */

/* modal */

.modal {
  position: relative;
}

.modalcontent {
  display: inline;
  font-size: 1.2rem;
  background-color: var(--main-color);
  color: white;
  padding: 4px;
  border-radius: 12px;
}
/* end */

/* eachCategory */

.eachCategory h1 {
  text-align: center;
  font-size: 4rem;
}

/* end */


/* upload */

.upload{
  width: 95%;
  margin: auto;
}

.upload img{
  display: flex;
  margin-top: 1.2rem;
}

.displayHeroNone{
  display: none;
}

.SearchMobileQari{
  display: none;
}

.DiscoverNone{
  display: none;
}

.searchIconMobile input{
  width: 200%;
  padding: 6px;
  border-radius: 6px;
}
.searchUser .iconInMobile{
  top: 40%;
  right: 10%;
}

.userStory, .userProfileIcon{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.2rem;
  font-size: 2rem;
  color: white;
}

.userInfo{
  text-decoration: none;
  color: white;
}



/* .searchIconMobile{
  position: absolute;
  left: 50%;
}
 */
/* end */
@media (max-width: 950px) {
  .homeFlex {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .member img {
    width: 18%;
    height: 13vh;
    aspect-ratio: 3/1;
    border-radius: 80%;
  }
  .navbar img {
    display: inline-block;
    width: 18%;
    aspect-ratio: 1/1;
    border-radius: 50%;
  }
  .userProfile {
    position: relative;
    left: 0rem;
  }
  .navbar img {
    width: 30%;
    aspect-ratio: 1/1;
    border-radius: 50%;
  }
  .logo {
    margin-left: 1rem;
  }
  .navka {
    margin-left: 1rem;
  }
  .hero {
    position: relative;
    margin-bottom: 1rem;
  }
  .heroText {
    position: absolute;
    top: 20%;
    left: 10%;
  }
  .heroText h1 {
    font-size: 4rem;
    color: var(--main-color);
  }
  .searchUser{
    position: relative;
  }
  .searchIconMobile input{
    width: 100%;
    padding: 6px;
    border-radius: 6px;
  }
  .iconInMobile{
    position: absolute;
    top: 4%;
    right: 10%;
  }
}

/* iphone 14 */
@media (min-width: 430px) and (max-width: 850px) {
  .navka {
    display: none;
  }
  footer {
    width: 160%;
    background-color: black;
    margin-top: 2rem;
  }
  .policyDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
  }
  .search input {
    width: 120%;
    border-radius: 18px;
    padding: 6px;
  }
  .navbar {
    width: 150%;
  }
  .articlehaye {
    width: 90%;
    margin: auto;
  }
  .search input::placeholder {
    font-size: 1rem;
    padding-top: 0.2rem;
    padding-left: 1.3rem;
  }
  .searchIcon {
    position: absolute;
    top: 1rem;
    left: 2rem;
  }
  .sidebar {
    width: 100%;
    height: 70vh;
    position: sticky;
    margin: auto;
    top: 0; /* Stick to the top of the container */
    padding: 3rem;
    border-radius: 1rem;
    background-color: black;
    color: white;
  }
  .article-container {
    width: 150%;
    margin: auto;
  }
  .navbar img {
    width: 10%;
    aspect-ratio: 1/1;
    border-radius: 50%;
  }
  .logo {
    margin-left: 1rem;
  }
  .navka {
    margin-left: 0.5rem;
  }
  .userInfo {
    display: block;
    position: absolute;
    top: 4.6rem;
    text-align: left;
    right: 0.5rem;
    z-index: 9999;
    padding: 1.5rem;
    padding-top: 1.5rem;
    border-radius: 5px;
    width: 50%;
    background-color: rgb(29, 27, 27);
    color: white;
  }
  .infoSign {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
  }
  .infoSign p {
    text-align: left;
    background-color: #104579;
    margin-bottom: 1rem;
    padding: 0.4rem;
    border-radius: 4px;
  }
  .hr {
    width: 105%;
  }
  .hero {
    position: relative;
    margin-bottom: 1rem;
  }
  .heroText {
    position: absolute;
    top: 20%;
    left: 10%;
  }
  .heroText h1 {
    font-size: 3rem;
    color: var(--main-color);
  }
  .hero img {
    width: 150%;
  }
  .otherIcon {
    position: absolute;
    top: 4rem;
    left: 12rem;
    font-size: 1.5rem;
    border-color: var(--main-color);
  }
  .writeIcon {
    margin: 0 0.4rem;
  }
  .chooseSome {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .chooseSome p {
    font-weight: 500;
    margin: 1rem 0.5rem;
    background-color: white;
    border: 1px solid black;
    padding: 7px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
    color: black;
    font-size: 1.4rem;
    cursor: pointer;
  }
  .userChoses {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .sidebarUser {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
  }
  .chooseOne {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
  }
  .chooseHaye h1 {
    text-align: center;
    margin-left: 2rem;
  }
  .hrChoose {
    width: 85%;
  }
  .articleUser {
    width: 90%;
    margin: auto;
  }
  .UserChoseIcon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .articleUserHaye {
    display: flex;
    flex-direction: column;
  }
  .PlaceBaxar {
    width: 140%;
    margin: auto;
  }
  .userNote {
    position: absolute;
    top: -130%;
    width: 60%;
    right: -5%;
    padding: 3px;
    background-color: black;
    border-radius: 4px;
    color: white;
    box-shadow: 0 0 2px 2px rgba(255, 254, 254, 0.2);
  }
}

/* is agdhigid */
/*746.67 * 646.67*/
@media (max-width: 746.67px) and (min-width: 646.67px) {
  .navbar {
    width: 100%;
  }
  .heroText h1 {
    font-size: 3rem;
    color: var(--main-color);
  }
  .article-container {
    width: 100%;
    margin: auto;
  }
}

/* iphone 12 */
@media (min-width: 390px) and (max-width: 844px) {
  .navka {
    display: none;
  }
  .search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
  }
  .search input {
    width: 120%;
    border-radius: 18px;
    padding: 6px;
  }
  .navbar {
    width: 150%;
  }
  .articlehaye {
    width: 90%;
    margin: auto;
  }
  .search input::placeholder {
    font-size: 1rem;
    padding-top: 0.2rem;
    padding-left: 1.3rem;
  }
  .searchIcon {
    position: absolute;
    top: 1rem;
    left: 2rem;
  }
  .sidebar {
    width: 100%;
    height: 70vh;
    position: sticky;
    margin: auto;
    top: 0; /* Stick to the top of the container */
    padding: 3rem;
    border-radius: 1rem;
    background-color: black;
    color: white;
  }
  .article-container {
    width: 150%;
    margin: auto;
  }
  .navbar img {
    width: 10%;
    aspect-ratio: 1/1;
    border-radius: 50%;
  }
  .logo {
    margin-left: 1rem;
  }
  .navka {
    margin-left: 0.5rem;
  }
  .sidebarHome {
    display: none;
  }
  .userInfo {
    display: block;
    position: absolute;
    top: 4.6rem;
    text-align: left;
    right: 0.5rem;
    z-index: 9999;
    padding: 1.5rem;
    padding-top: 1.5rem;
    border-radius: 5px;
    width: 50%;
    background-color: rgb(29, 27, 27);
    color: white;
  }
  .infoSign {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
  }
  .infoSign p {
    text-align: left;
    background-color: #104579;
    margin-bottom: 1rem;
    padding: 0.4rem;
    border-radius: 4px;
  }
  .hr {
    width: 105%;
  }
  .hero {
    position: relative;
    margin-bottom: 1rem;
  }
  .heroText {
    position: absolute;
    top: 20%;
    left: 10%;
  }
  .heroText h1 {
    font-size: 3rem;
    color: var(--main-color);
  }
  .hero img {
    width: 150%;
  }
  .otherIcon {
    position: absolute;
    top: 4rem;
    left: 12rem;
    font-size: 1.5rem;
    border-color: var(--main-color);
  }
  .writeIcon {
    margin: 0 0.4rem;
  }
  .chooseSome {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .chooseSome p {
    font-weight: 500;
    margin: 1rem 0.5rem;
    background-color: white;
    border: 1px solid black;
    padding: 7px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
    color: black;
    font-size: 1.4rem;
    cursor: pointer;
  }
  .userChoses {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .sidebarUser {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
  }
  .chooseOne {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
  }
  .chooseHaye h1 {
    text-align: center;
    margin-left: 2rem;
  }
  .hrChoose {
    width: 85%;
  }
  .articleUser {
    width: 90%;
    margin: auto;
  }
  .UserChoseIcon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .articleUserHaye {
    display: flex;
    flex-direction: column;
  }
  .PlaceBaxar {
    width: 140%;
    margin: auto;
  }
  .userNote {
    position: absolute;
    top: -130%;
    width: 60%;
    right: -5%;
    padding: 3px;
    background-color: black;
    border-radius: 4px;
    color: white;
    box-shadow: 0 0 2px 2px rgba(255, 254, 254, 0.2);
  }
}

/* samsung glaxy s8+ */

@media (min-width: 360px) and (max-width: 740px) {
  .navka {
    display: none;
  }
  .search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
  }
  .search input {
    width: 120%;
    border-radius: 18px;
    padding: 6px;
  }
  .navbar {
    width: 150%;
  }
  .articlehaye {
    width: 90%;
    margin: auto;
  }
  .search input::placeholder {
    font-size: 1rem;
    padding-top: 0.2rem;
    padding-left: 1.3rem;
  }
  .searchIcon {
    position: absolute;
    top: 1.2rem;
    left: 5rem;
  }
  .sidebar {
    width: 100%;
    height: 70vh;
    position: sticky;
    margin: auto;
    top: 0; /* Stick to the top of the container */
    padding: 3rem;
    border-radius: 1rem;
    background-color: black;
    color: white;
  }
  .article-container {
    width: 150%;
    margin: auto;
  }
  .navbar img {
    width: 10%;
    aspect-ratio: 1/1;
    border-radius: 50%;
  }
  .logo {
    margin-left: 1rem;
  }
  .navka {
    margin-left: 0.5rem;
  }
  .userInfo {
    display: block;
    position: absolute;
    top: 4.6rem;
    text-align: left;
    right: 0.5rem;
    z-index: 9999;
    padding: 1.5rem;
    padding-top: 1.5rem;
    border-radius: 5px;
    width: 50%;
    background-color: rgb(29, 27, 27);
    color: white;
  }
  .infoSign {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
  }
  .infoSign p {
    text-align: left;
    background-color: #104579;
    margin-bottom: 1rem;
    padding: 0.4rem;
    border-radius: 4px;
  }
  .hr {
    width: 105%;
  }
  .hero {
    position: relative;
    margin-bottom: 1rem;
  }
  .heroText {
    position: absolute;
    top: 20%;
    left: 10%;
  }
  .heroText h1 {
    font-size: 2rem;
    color: var(--main-color);
  }
  .hero img {
    width: 150%;
  }
  .otherIcon {
    position: absolute;
    top: 4rem;
    left: 12rem;
    font-size: 1.5rem;
    border-color: var(--main-color);
  }
  .writeIcon {
    margin: 0 0.4rem;
  }
  .chooseSome {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .chooseSome p {
    font-weight: 500;
    margin: 1rem 0.5rem;
    background-color: white;
    border: 1px solid black;
    padding: 7px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
    color: black;
    font-size: 1.4rem;
    cursor: pointer;
  }
  .userChoses {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .sidebarUser {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
  }
  .chooseOne {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
  }
  .chooseHaye h1 {
    text-align: center;
    margin-left: 2rem;
  }
  .hrChoose {
    width: 85%;
  }
  .articleUser {
    width: 90%;
    margin: auto;
  }
  .UserChoseIcon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .articleUserHaye {
    display: flex;
    flex-direction: column;
  }
  .PlaceBaxar {
    width: 140%;
    margin: auto;
  }
  .userNote {
    position: absolute;
    top: -130%;
    width: 60%;
    right: -5%;
    padding: 3px;
    background-color: black;
    border-radius: 4px;
    color: white;
    box-shadow: 0 0 2px 2px rgba(255, 254, 254, 0.2);
  }
}

/* ipad mini */
@media (min-width: 768px) and (max-width: 1024px) {
  .navka {
    display: none;
  }
  .search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
  }
  .search input {
    width: 120%;
    border-radius: 18px;
    padding: 6px;
  }
  .navbar {
    width: 150%;
  }
  .articlehaye {
    width: 90%;
    margin: auto;
  }
  .search input::placeholder {
    font-size: 1rem;
    padding-top: 0.2rem;
    padding-left: 1.3rem;
  }
  .searchIcon {
    position: absolute;
    top: 1.2rem;
    left: 5rem;
  }
  .sidebar {
    width: 100%;
    height: 70vh;
    position: sticky;
    margin: auto;
    top: 0; /* Stick to the top of the container */
    padding: 3rem;
    border-radius: 1rem;
    background-color: black;
    color: white;
  }
  .article-container {
    width: 150%;
    margin: auto;
  }
  .navbar img {
    width: 10%;
    aspect-ratio: 1/1;
    border-radius: 50%;
  }
  .logo {
    margin-left: 1rem;
  }
  .navka {
    margin-left: 0.5rem;
  }
  .userInfo {
    display: block;
    position: absolute;
    top: 4.6rem;
    text-align: left;
    right: 0.5rem;
    z-index: 9999;
    padding: 1.5rem;
    padding-top: 1.5rem;
    border-radius: 5px;
    width: 50%;
    background-color: rgb(29, 27, 27);
    color: white;
  }
  .infoSign {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
  }
  .infoSign p {
    text-align: left;
    background-color: #104579;
    margin-bottom: 1rem;
    padding: 0.4rem;
    border-radius: 4px;
  }
  .hr {
    width: 105%;
  }
  .hero {
    position: relative;
    margin-bottom: 1rem;
  }
  .heroText {
    position: absolute;
    top: 20%;
    left: 10%;
  }
  .heroText h1 {
    font-size: 5rem;
    color: var(--main-color);
  }
  .hero img {
    width: 150%;
  }
  .otherIcon {
    position: absolute;
    top: 4rem;
    left: 12rem;
    font-size: 1.5rem;
    border-color: var(--main-color);
  }
  .writeIcon {
    margin: 0 0.4rem;
  }
  .chooseSome {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .chooseSome p {
    font-weight: 500;
    margin: 1rem 0.5rem;
    background-color: white;
    border: 1px solid black;
    padding: 7px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
    color: black;
    font-size: 1.4rem;
    cursor: pointer;
  }
  .userChoses {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .sidebarUser {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
  }
  .chooseOne {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
  }
  .chooseHaye h1 {
    text-align: center;
    margin-left: 2rem;
  }
  .hrChoose {
    width: 85%;
  }
  .articleUser {
    width: 90%;
    margin: auto;
  }
  .UserChoseIcon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .articleUserHaye {
    display: flex;
    flex-direction: column;
  }
  .PlaceBaxar {
    width: 140%;
    margin: auto;
  }
  .userNote {
    position: absolute;
    top: -130%;
    width: 60%;
    right: -5%;
    padding: 3px;
    background-color: black;
    border-radius: 4px;
    color: white;
    box-shadow: 0 0 2px 2px rgba(255, 254, 254, 0.2);
  }
}
