@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 271D2C */
/* before color  543992*/

:root {
  --main-color: #271d2c;
}

body {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "width" 100;
  font-optical-sizing: auto;
  text-decoration: none;
}

.navbar {
  padding: 5px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 80%;
  margin: auto;
}

.logo {
  font-size: 1.5rem;
}

.logo h1 {
  font-size: 1.4rem;
  margin-top: 1.4rem;
  text-decoration: none;
}

.logo h1:hover {
  text-decoration: double;
}

nav ul li {
  display: inline-block;
  margin: 0rem 1rem;
  cursor: pointer;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  padding-top: 2rem;
  cursor: pointer;
  color: black;
}

.navka ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  cursor: pointer;
}

.userProfile {
  position: relative;
  left: 0rem;
}

.userInfo {
  position: absolute;
  top: 4.5rem;
  right: 0rem;
  z-index: 9999;
  padding: 1rem;
  text-align: right;
  border-radius: 5px;
  width: 35%;
  background-color: black;
  color: white;
}

.userInfo ul {
  list-style: none;
  list-style-type: none;
}

.infoSign {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

.infoSign p {
  background-color: #104579;
  border-radius: 0.2rem;
  padding: 0.3rem;
  margin-bottom: 1rem;
}

.sidebarNin {
  width: 100%;
  margin: auto;
}

.icons p {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 0.4rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  background-color: #104579;
  border-radius: 20px;
}

.emailIcon {
  font-size: 1.4rem;
}

.seeall {
  color: #104579;
  font-size: 1.3rem;
  margin-top: 0.4rem;
  margin-bottom: 1rem;
}

.singleMember {
  position: relative;
  display: flex;
  column-gap: 2rem;
  font-size: 1rem;
  align-items: center;
  margin: 0.4rem;
}

.userNote {
  position: absolute;
  top: -320%;
  width: 85%;
  right: -12%;
  padding: 3px;
  background-color: black;
  border-radius: 6px;
  color: white;
  box-shadow: 0 0 2px 2px rgba(255, 254, 254, 0.2);
}

/*  */

.footerSidebar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.navbar img {
  width: 12%;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.signup {
  color: white;
  margin-top: 0.31rem;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 800;
  background-color: var(--second-color);
  padding: 2px;
  border-radius: 5px;
}

.signUpContext {
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: left;
  width: 35%;
  margin: auto;
  margin-top: 10rem;
  background-color: #104579;
  padding: 1rem;
  border-radius: 10px;
}

@media (max-width: 900px) {
  .signUpContext {
    width: 65%;
    padding: 1rem;
    margin-top: 10rem;
  }
}

.github {
  padding-top: 0;
  margin-left: 1rem;
  color: black;
  font-size: 1.5rem;
}
.google {
  padding-top: 0;
  color: black;
  margin-left: 0.4rem;
  font-size: 1.5rem;
}

.signUpContext h1 {
  color: white;
}

.signUpContext input {
  display: block;
  width: 80%;
  padding: 8px 20px;
  margin: 1rem;
  border-radius: 12px;
}

.signUpContext button {
  margin-top: 0;
  margin-left: 1rem;
  padding: 8px 12px;
  border-radius: 10px;
  font-size: 1.2rem;
}

.articlehaye {
  width: 80%;
  margin: auto;
}

.article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-right: 1.2rem;
}

.article .text {
  margin-bottom: 1rem;
}

.article-container {
  width: 90%;
  margin: auto;
}

.article img {
  width: 40%;
  height: 30vh;
}

.article-container h2 {
  margin-bottom: 1.3rem;
}

.hr {
  width: 118%;
}

.member {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
}

.dot {
  /* kan hose hda ka deledo wu uso dhawan */
  margin: auto;
  align-self: center;
}

.member img {
  width: 10%;
  height: 6vh;
  align-self: end;
  aspect-ratio: 3/1;
  border-radius: 80%;
}

.sidebarHome {
  width: 25%;
  height: 100vh;
  position: sticky;
  top: 5%; /* Stick to the top of the container */
  padding: 2rem;
  overflow: hidden;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  color: black;
}

.sidebarUser {
  width: 20%;
  height: 100vh;
  position: sticky;
  right: 0;
  top: 0%; /* Stick to the top of the container */
  padding: 2rem;
  overflow: hidden;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  color: black;
}

.sidebarUser.sticky-bottom {
  position: sticky;
  bottom: 0; /* Stick to the bottom of the container */
  top: unset; /*Remove the top property */
}

.sidebarHome.sticky-bottom {
  position: sticky;
  bottom: 0; /* Stick to the bottom of the container */
  top: unset; /*Remove the top property */
}

.Discover h2 {
  font-size: 2rem;
  color: var(--main-color);
}

.chooseDiscover {
  gap: 1rem;
  margin: 0.4rem;
  color: black;
}

.chooseCategory h4 {
  display: flex;
  justify-content: space-between;
  color: black;
}

.seeMore {
  font-size: 1.2rem;
  color: #486b74;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.name {
  font-size: 2rem;
}
/* dashboard flex of sidebar and articles  */

.homeFlex {
  display: flex;
  justify-content: space-around;
  gap: 4rem;
}

/* ends */

/* choose start */

.choose {
}

.chooseSome {
  display: flex;
  margin-left: 6rem;
}

.chooseSome p {
  margin: 1rem 1rem;
  background-color: white;
  padding: 2px 9px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
  color: black;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.3rem;
}

/* choose end */

/* profile start */
.searchUser .iconInMobile {
  top: 40%;
  right: 10%;
}

.userStory,
.userProfileIcon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.2rem;
  font-size: 1.4rem;
  color: white;
}

.userInfo {
  text-decoration: none;
  color: white;
}

/* profile ends */

/* iphone 14 */
@media (min-width: 430px) and (max-width: 850px) {
}

/*  */

.imageAndNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imageAndNav span {
}
.SecNav {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.secNavLink {
  margin: 20px 20px;
  font-size: 1.4rem;
  font-weight: 500;
}

.flex-Category-Article {
  display: block;
}

/* memebrs css */

/* write css */

.inputOfWrite {
  margin-left: 10rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.inputOfWrite input {
  width: 100%;
  padding: 0.5rem 1rem;
}

/* articlecard css */

.articleCardBox {
  margin-left: 6rem;
  margin-top: 1rem;
  cursor: pointer;
}

/* header css */

.userImg img {
  width: 35%;
}

.navAndSecHaye {
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: #ffff;
}
